@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Playwrite+NZ:wght@100..400&display=swap');
@import "tailwindcss";

/* @layer base {
  body {
    @apply bg-[#A5D8FF] dark:bg-gray-900;
  }
} */